.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.rocket {
  background: url(./r.png) no-repeat;
  background-size: contain;
  width: 140px;
  height: 140px;
  cursor: -webkit-grab;
  will-change: transform;
  user-select: none;
  z-index: 100;
  position: sticky;
}

.rocket:active {
  cursor: -webkit-grabbing;
  position: sticky;
}

.moviePage .navbar {
  position: sticky;
}
